@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  root: ":root";
  include: ;
  exclude: ;
  prefix: "daisy-";
  logs: false;
}
/* .root-div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: aquamarine;
}

.mainbody{
  flex-grow: 1;
  background-color: lightgrey;
} */